node_modules
.next
.git
.gitignore
README.md
.env*.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
coverage
.vscode
.idea
*.md
!DEPLOY.md
docker-compose.yml
docker-compose.prod.yml
nginx/
scripts/
letsencrypt/

